# WhatsApp Business Configuration
WHATSAPP_PHONE_NUMBER_ID=928506217019746
WHATSAPP_ACCESS_TOKEN=EAAMGbRAWCZCcBQuqseClGuDJhzsvelZA1XiJCYFQq68fPbuqNZAMkv1IOZCW3khilAKOE4pAcXsZA0wKM72t9j7zURZCRLaxIPIDBMKUNRyIgxf9vEFRZCW4d3n0ZBhWNjWTy5L0YobP2pG0T9sWokCWytzDeQza15HKfxGMXL2LJTFRR2KdGS5TEIUiNoE70mZAWpgZDZD
WHATSAPP_VERIFY_TOKEN=leaderapp
